<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuários</title>
</head>

<body>

<div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

<h1>Usuários</h1>

<table>
    <tr>
        <th>NAME</th>
        <th>LASTNAME</th>
    </tr>
    <tr th:each="user : ${alluser}">
        <td th:text="${user.name}"> </td>
        <td th:text="${user.lastName}"> </td>
    </tr>
</table>

<br>

<a href="#" th:href="@{/new-user}">Novo usuário</a>

</body>
</html>